
<body>  
  <!--<meta HTTP-EQUIV="REFRESH" content="10; url=<%= root_path %>"> -->
  <div class="container">
    <div class="bundle">
      <div class="thank-you">
        <h1>Thank you for your message.</h1>
        <p>We'll get back to you soon.</p>
      </div>

      <a href="<%= root_path %>">
        <div class="back">
          <div class="glyphicon glyphicon-chevron-left">
          </div>
          back
        </div>
      </a>
    </div>
  </div>
</body>
