<div class="wrapper">
    <div class="box">
        <div class="row">
            <!-- sidebar -->
            <div class="column col-sm-2" id="sidebar">
                <a class="logo" href="#">B</a>
                <ul class="nav">
                    <li class="active">
                      <a href="#Home">Home</a>
                    </li>

                    <li>
                      <a href="#Portfolio">Portfolio</a>
                    </li>

                    <li>
                      <a href="#Contact">Contact</a>
                    </li>

                    <ul class="nav hidden-xs" id="sidebar-footer">
                      <li>
                        <h1 id="name" class="hidden-md-up rotate">Malcolm <br>
                                                    Gourdine</h1>
                      </li>
                    </ul>

                </ul>

            </div>


            <!-- main -->
            <div class="column col-sm-8" id="main">
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
              <h2>Full stack web development using the latest frameworks like -
                Ruby on Rails, AngularJS, and Bootstrap. Marvelously and obsessively
              designed by me.</h2>
            </div>
            <!-- /main -->

            <!-- right sidebar -->
            <div class="col-sm-1">
            </div>

            <div class="column col-sm-1">
              <ul class="nav" id="sidebar-right">
                <li>
                  <a href="#">
                    <i class="fa fa-twitter fa-2x"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-github fa-2x"></i>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="fa fa-flickr fa-2x"></i>
                  </a>
                </li>
              </ul>
            </div>

        </div>
    </div>
</div>
