/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.countdown
 */

 // Bootstrap

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "projects";
@import "contacts";

@font-face {
  font-family: "Lucida Grande Regular";
  src: url(/assets/LucidaGrande.ttc) format("truetype");
}

body {
  letter-spacing: -1px;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: 100;
  transition: background .4s ease;
  background-color: #015AA0;
}

body,html {
  min-width: 530px;

}

.back {
  font-size:30px;
  margin-top: 15%;
  cursor: pointer;
}

.back:hover {
  color: #D62D20;
}

@media (max-height:658px) {
  #name {
    opacity: 0.2;
  }
}
