/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Lucida Grande Regular";
  src: url(/assets/LucidaGrandeRegular.tff) format("truetype");
}

.description {
  color: white;
}



.header {
  letter-spacing: -2px;
  line-height: 1;
  font-size: 35px;
  margin-bottom: 0px;
}

.tag_line {
  color:white;
  font-weight: lighter;
  margin-bottom: -20px;

}

body {
  letter-spacing: -1px;
  transition: background .4s ease;
  background: #015AA0;
	font-family: "Lucida Grande Regular";
	font-weight: 100;
}

.title-spacing {
  letter-spacing: -2px;
}

.navigation{
	z-index:1;
	position: fixed;
}


.navigation li{
	color:#131313;
	display:block;
	padding: 0 10px;
	line-height:30px;
	margin-bottom:2px;
	-webkit-transition: all .1s ease-in-out;
	text-align:left;
}

.navigation li:hover {
	cursor:pointer;

}


h2 {
  font-family: "Lucida Grande Regular";
	font-size:30px;
	font-weight:100;
	letter-spacing: 1px;
}


#sidebar li a#logo {
  display:block;
  padding:6px;
  background-color:#015AA0;
  color:#C34A80;
  height:40px;
  width:40px;
  margin-top: -3px;
  margin-bottom: 15px;
  font-size:28px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}

.pageselect {
  color: #ffffff;
  line-height: 1.4;
  font-size: 15px;
  width: 65px;

}

#logo-spacing {
  padding-bottom: 81px;
}

.me {
  opacity: 0;
  transition: all .4s ease-in;
  margin-left: -20px;
  margin-top: -40px;
}

.js-me-animate {
  opacity: 1;
  margin-top:8px;

}

#name {
  opacity: 0.9;
  font-size: 36px;
  margin-left: -155px;
  margin-top:293px;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
  color: #ffffff;
  line-height: 1.4;
}



.nav-left {
  top:53px;
	z-index: 20;
  left: -5px;
  font-size: 16px;
}

.nav-right {
  right: 15px;
  height: 80px;
	padding-right: 15px;
	bottom: 50%;
	transition: background .7s ease;
}

.active {
  background-color: rgba(0,0,0,0.2);

}

.nav-right i{
	padding: 15px 0px 15px 0px;
}


.fa-circle {
  margin-top: -20px;
  font-size: 200px;
  z-index: 1;
	color:#224687;
}

.slide {
  width: 100%;
  padding: 0;
}

.skills {
	display: block;
	background-color: #F5D773;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	padding: 6px 6px -20px 6px;
}

.how {
  margin-left: -10px;
}

/******************************
 SLIDE 1
*******************************/
.gifs{
	margin: -213px 0px 12px 8px;
}

#slide1{
  height: 1600px;
  margin-bottom: 300px;
}

#slide1 li{
cursor: default;

}

#slide1 p a{
	color: #6A9FC9;
	padding: 0px 10px 0px 10px;
	text-decoration: none;

}

#slide1 p a:hover{
	color: #CF4A80;
}

#slide1 ul {
	list-style-type: none;
	padding-left: 0px;
	color: white;
	font-size: 20px;
}

#slide1 h2 {
	color:white;
	padding-top: 30px;
}

#slide1 .skills {
	background-color: #F5D773;
	letter-spacing: 1px;
	padding-left: 6px;
	padding-right: 6px;

}
.skills-row{
	margin-top: 45px;
	margin-left: -26px;
	font-size: 16px;
  margin-bottom: 10px;

}
.development{
	margin-top: 50px;
	margin-left: -27px;
  margin-bottom: 10px;
}
.fa-circle {
	margin-left: -20px;
}

.contact-form {
  margin-top: 166px;

}
.contact-spacing{
  margin: 10px 0px 10px 0px;
}
/******************************
 SLIDE 2
*******************************/
#slide2{
  height: 2000px;
}

/******************************
 SLIDE 3
*******************************/

.btn-primary{
  background-color:#CE4644;
  border-color: #df9897;

}


.btn-primary:hover, .btn-primary:active{
  background-color:#a43d3b;
  border-color: #F6F6F5;
}

.button {
margin-top: 14px;
text-align: right;
}

.budget {
}

.budget-buttons {
  margin-top: 22px;
}

#slide3{
  height: 900px;
}
