// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #EAEAE8;
}

.thank-you {
  text-align: center;
  margin-top: 180px;
}

.back {
  text-align: left;
}

.bundle {
  width: 560px;
  margin: auto;
}

a {
  color: #333333;
}

a, a:hover {

  text-decoration: none;
}
